In [34]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Reading from Files

## CVS file

In [20]:
df = pd.read_csv("data/bikes.csv", sep = ";", encoding = 'latin1')
df.head()

,Date,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
0,01/01/2012,35,NaN,0,38,51,26,10,16,NaN
1,02/01/2012,83,NaN,1,68,153,53,6,43,NaN
2,03/01/2012,135,NaN,2,104,248,89,3,58,NaN
3,04/01/2012,144,NaN,1,116,318,111,8,61,NaN
4,05/01/2012,197,NaN,2,124,330,97,13,95,NaN

## Set Date as the index of the row

In [30]:
df = pd.read_csv("data/bikes.csv", sep = ';', encoding = 'latin1', index_col = 'Date')
df.head()

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
01/01/2012,35,NaN,0,38,51,26,10,16,NaN
02/01/2012,83,NaN,1,68,153,53,6,43,NaN
03/01/2012,135,NaN,2,104,248,89,3,58,NaN
04/01/2012,144,NaN,1,116,318,111,8,61,NaN
05/01/2012,197,NaN,2,124,330,97,13,95,NaN

In [40]:
pd.set_option('display.mpl_style', 'default')
figsize(15,5)
df['Berri 1'].plot()

OptionError: "No such keys(s): 'display.mpl_style'"